{{ define "main" }}
  <div class="about-me">
    <div class="about-me-header">
      {{ with .Site.Params.avatar }}
        <img class="about-me-avatar" alt="avatar" src="{{ . | safeURL }}" width="80px" height="80px">
      {{ end }}
      <div class="about-me-author-info">
        <h1 class="about-me-author-name">{{ .Site.Params.author }}</h1>
        {{ if or .Site.Params.nickname .Site.Params.pronouns }}
          <div class="about-me-author-nickname-pronouns">
            {{ if .Site.Params.nickname }}
              <span>{{ .Site.Params.nickname }}</span>
            {{ end }}
            {{ if and .Site.Params.nickname .Site.Params.pronouns }}
              <span>·</span>
            {{ end }}
            {{ if .Site.Params.pronouns}}
              <span>{{ .Site.Params.pronouns }}</span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ with .Site.Params.description }}
      <p>{{ . | markdownify }}</p>
    {{ end }}
    {{ with .Site.Params.links}}
      <ul class="link-list">
        {{ range . }}
          <li>
            <a href="{{ .url | safeURL }}" target="_blank" rel="noopener noreferrer me">{{ .name }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  {{ if gt site.RegularPages.Len 0 }}
    <div>
      {{ $recentPostsCount := default 3 .Site.Params.RecentPostsCount }}
      {{ if eq $recentPostsCount 1 }}
        <h2>{{ T "latestPost" }}</h2>
      {{ else }}
        <h2>{{ T "recentPosts" }}</h2>
      {{ end }}
      <ul class="post-list">
        {{ range first $recentPostsCount site.RegularPages }}
          {{ partial "post-item" . }}
        {{ end }}
      </ul>
      <p class="view-all-posts">
        <a href="{{ relLangURL "posts" }}">{{ T "viewAllPosts" }}</a>
      </p>
    </div>
  {{ end }}
  {{ if and (.Site.Params.showTagsOnHome) (gt (len $.Site.Taxonomies.tags) 0) }}
    <div>
      <h2>{{ T "tags" }}</h2>
      <ul class="tag-list">
        {{ range $.Site.Taxonomies.tags.ByCount }}
          <li>
            <a href="{{ .Page.RelPermalink }}">
              {{ .Page.LinkTitle | lower }}
              <span>({{ .Count }})</span>
            </a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
{{ end }}
