{{ define "main" }}
  <div class="about-me">
    <div class="about-me-header">
      {{ with .Site.Params.avatar }}
        <img class="about-me-avatar" alt="avatar" src="{{ . | safeURL }}">
      {{ end }}
      <div class="about-me-author-info">
        <h1 class="about-me-author-name">{{ .Site.Params.author }}</h1>
        {{ if or .Site.Params.nickname .Site.Params.pronouns }}
          <div class="about-me-author-nickname-pronouns">
            {{ if .Site.Params.nickname }}
              <span>{{ .Site.Params.nickname }}</span>
            {{ end }}
            {{ if and .Site.Params.nickname .Site.Params.pronouns }}
              <span>·</span>
            {{ end }}
            {{ if .Site.Params.pronouns}}
              <span>{{ .Site.Params.pronouns }}</span>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
    {{ .Content }}
    {{ with .Site.Params.social}}
      <ul class="social-list">
        {{ range . }}
          <li>
            <a href="{{ .url | safeURL }}" target="_blank" rel="noopener noreferrer me" title="{{ .title }}">{{ .title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  {{ if gt site.RegularPages.Len 0 }}
    <div>
      <h2>Recent Posts</h2>
      <ul class="post-list">
        {{ $RecentPostsCount := default 3 .Site.Params.RecentPostsCount }}
        {{ range first $RecentPostsCount site.RegularPages }}
          {{ partial "post-item" . }}
        {{ end }}
      </ul>
      <p class="view-all-posts">
        <a href="{{ relURL "posts" }}">View All Posts →</a>
      </p>
    </div>
  {{ end }}
{{ end }}
