<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ if eq .Kind "section" }}
  <meta name="description" content="{{ .Params.description | default (printf "See all posts in the %s section." .Title) }}">
{{ else if eq .Kind "taxonomy" }}
  <meta name="description" content="{{ .Params.description | default "Browse all tags on the blog." }}">
{{ else if eq .Kind "term" }}
  <meta name="description" content="{{ .Params.description | default (printf "Posts tagged with #%s." (lower .Title)) }}">
{{ else }}
  <meta name="description" content="{{ .Params.description | default .Summary }}">
{{ end }}

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
