<li>
  <h3 class="post-item-title">
    <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
  </h3>
  <time class="post-item-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date | time.Format ":date_medium" }}</time>
  {{ with .Params.description }}
    <p class="post-item-description">{{ . | plainify }}</p>
  {{ end }}
  {{ with .GetTerms "tags" }}
    <ul class="tag-list">
      {{ range . }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</li>
